

/* Background Image */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../images/valentines-day-concept.webp") no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Header Styling */

header {
    text-align: center;
    background: rgba(224, 122, 95, 0.8);
    color: whitesmoke;
    padding: 1rem;
}

/* Transparent form */

form {
    max-width: 400px;
    margin: 4rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
}

/* Labels and inputs */

label {
    display: block;
    margin-top: 1rem;
    color: #3D405B;
}

input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Button Styling */

button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem;
    background: #3D405B;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: red;
}

#qrSection {
    text-align: center;
    margin-top: 2rem;
}

.hidden {
    display: none;
}